*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  padding-bottom: 104px;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin-right: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  justify-content: space-between;
  column-gap: 30px;
  max-width: 1140px;
  padding-top: 3px;
  padding-block-start: 3px;
}

.result {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: result;
  margin-top: 72px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: details;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: 225px min-content auto;
  align-items: stretch;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__textfield {
  width: 225px;
  border-inline-start: 1px transparent;
  border-inline-end: 1px transparent;
  border-block-start: 1px solid rgb(255, 255, 255);
  border-block-end: 1px solid rgb(255, 255, 255);
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  background-color: rgb(27, 25, 25);
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  text-align: left;
  width: 120%;
}

.search-form__textfield:active {
  border-inline-start: 1px solid rgb(255, 255, 255);
  border-inline-end: 1px solid rgb(255, 255, 255);
}


.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  margin-inline-end: 5px;
  border: 1px solid rgb(255, 255, 255);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: rgb(255, 255, 255);
  inline-size: 15px;
  block-size: 15px;
}

.button {
  border: 1px solid rgb(255, 255, 255);
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: rgb(27, 25, 25);
  cursor: pointer;
  block-size: 34px;
  min-width: 194px;
  min-height: 34px;
}

.button:active {
  text-decoration: none;
  background-color: rgb(84, 80, 80);
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 70.5px;
  text-transform: uppercase;
  word-spacing: -0.009em;
}

.content__accent {
  color: rgb(84, 80, 80);

}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  margin-block: 1px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block; 
}

.content__card-link:active {
  background-color: rgb(84, 80, 80);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
}

.content__card-link_current {
  background-color: rgb(84, 80, 80);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 196px;
  overflow: hidden;
  
}

.content__video-card-title {
  margin-block-end: 5px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.content__video-card-description {
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 99%;
  margin-block: 30px 6px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
